{% extends 'base.html' %}
{% block title %}Удаление записи{% endblock %}
{% block content %}
    <div>
        <form action="{% url 'delete' guests.pk %}" method="POST">
        {% csrf_token %}
        <h2>Вы действительно хотите удалить запись <br> {{ guests.author_name }}</h2>
            <div class="gap-2 col-6 ">
                <a><button class="btn btn-primary" type="submit">Да</button></a>
                <a href="{% url 'index'%}"><button class="btn btn-primary" type="button">Нет</button></a>
            </div>
        </form>

    </div>
{% endblock %}